* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5em;
}

.container h1 {
    margin-bottom: 16px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form {
    width: 360px;
}

form button {
    width: 120px;
}